@model IEnumerable<BillBoardDNCC.Models.Collection>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Aminbazar.cshtml";
}

<h2>Collection Report</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LicencePlateNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WardNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWeight)
        </th>
        <th></th>
    </tr>
    @if(Model!= null && Model.Count()>0)
    { 
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicencePlateNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWeight)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    }
    else
    {
        <tr><td colspan="6" style="text-align:center;">No records found.</td></tr>
    }

</table>
