@model IEnumerable<BillBoardDNCC.Models.Tax>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Billboard.BillBoardUniqueKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChalanImageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidTaxAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidTaxBankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidTaxDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueTaxAmount)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Billboard.BillBoardUniqueKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="margin:20px; padding:10px;">
                @if (item.ChalanImageId != null)
                {
                    var imageName = item.ChalanImageId;
                    <img src="~/Upload/@imageName" style="border: none; height:200px;" class="img-thumbnail" />
                }
            </td>

            <td>
                @{
        var totalTax = item.TotalTax.ToString("C");
                }
                @totalTax


            </td>
            <td>
                @{
        var paidTax = item.PaidTaxAmount.ToString("C");
                }@paidTax


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidTaxBankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidTaxDate)
            </td>
            <td>
                @{
        var dueTax = item.DueTaxAmount.ToString("C");
                }@dueTax


            </td>

        </tr>
    }

</table>
